@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
    color:rgb(63, 63, 63);
}

header {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    padding: 1.5rem;
    color: rgb(241, 241, 241);
}

header .container {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .container h1 {
    color: white;
}

header nav a {
    transition: 0.5s;
    text-decoration: none;
    padding: 2rem 2rem;
    color: white;
}

header nav a:hover {
    background-color: rgba(255, 255, 255, 0.178);
}

section.hero {
    background-color: rgb(241, 241, 241);
}

section div.container {
    padding: 3rem 0;
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section div.container div.hero-content {
    margin-right: 2rem;
}

section div.container h1 {
    font-size: 3.5rem;
}

section div.container h2 {
    font-size: 2rem;
}

section div.container p {
    margin-top: 0.8rem;
    font-size: 1.5rem;
}

section div.container button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    color:#2C5364;
    border:#2C5364 1px solid;
    cursor: pointer;
    border-radius: 0.5rem;
}

section div.container button:hover {
    background-color:#203A43;
    color:rgb(241, 241, 241);
    transition: 0.5s;
}

section div.container img {
    border-radius: 1rem;
    max-width: 100%;
}

.testimonials div.container {
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 2rem;
}

.testimonials h1 {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color:rgb(241, 241, 241);
    border-radius: 0.5rem;
    max-width: 300px;
}

.testimonials div.card h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.testimonials div.card h2 {
    font-size: 1rem;
    padding: 0.5rem;
}

.testimonials div.card p {
    margin: 0;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.card img {
    padding: 0.5rem;
}

section.contact-form {
    background-color: rgb(241, 241, 241);
}

.contact-form .container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}

.contact-form .container input {
    font-size: 1.1rem;
    min-width: 30rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
}

.contact-form .container textarea {
    font-size: 1.1rem;
    min-width: 30rem;
    min-height: 10rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    resize: none;
}

.contact-form .container button {
    font-size: 1rem;
    
}

.form-status {
    background-color: rgba(0, 255, 0, 0.266);
    color: rgb(6, 122, 6);
    min-width: 30rem;
    padding: 1rem;
    transition: 1s;
    border: 1px rgb(46, 169, 83) solid;
    text-align: center;
}

footer {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    padding: 1.5rem;
    color: rgb(241, 241, 241);
}

footer .container {
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .container h1 {
    color: white;
}

footer .container p {
    color: white;
}